@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 1.5rem; }
  .heading-primary--main {
    color: goldenrod;
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    color: #fff;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #e8c15f, #ae8319);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: translateY(2px);
    text-shadow: 0.5rem 1rem 2rem rgba(18, 18, 18, 0.2); }

.heading-tertiary {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s ease-out; }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(245, 180, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(245, 180, 0, 0.2); }

.btn--gold {
  background-color: goldenrod;
  color: #121212;
  font-weight: 700; }
  .btn--gold::after {
    background-color: goldenrod; }

.btn--white {
  background-color: #fff;
  color: #121212;
  font-weight: 700; }
  .btn--white::after {
    background-color: goldenrod; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: goldenrod;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid goldenrod;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: goldenrod;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(18, 18, 18, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(18, 18, 18, 0.15);
  transform: translateY(0px); }

.card {
  perspective: 150rem;
  -moz-perspective: 1500px;
  height: 50rem;
  position: relative; }
  .card__side {
    backface-visibility: hidden;
    height: 45rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(18, 18, 18, 0.15);
    transition: all .6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #e8c15f, #ae8319); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/Samwise.png); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #e8c15f, #ae8319), url(../img/frodo.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/baggins.jpg); }
  .card__heading {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem 0; }
  .card__details {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 1rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
    .card__price-value sub {
      font-size: 2rem; }

.composition {
  position: relative; }
  .composition__photo {
    display: block;
    width: 80%;
    object-position: center;
    margin: 0 auto;
    outline-offset: 2rem;
    transition: all .3s; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      outline: 1.5rem solid goldenrod;
      z-index: 20; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s;
  box-shadow: 0 1.5rem 4rem rgba(18, 18, 18, 0.15); }
  .feature-box__icon {
    display: block;
    font-size: 6rem;
    background-image: linear-gradient(to right, #e8c15f, #ae8319);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem ) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem ) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem ) / 4); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem ) / 5); }

.header {
  height: 95vh;
  background-image: url("../img/the_one_ring_lotr.jpg"), linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: right top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 23rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(232, 193, 95, 0.8), rgba(174, 131, 25, 0.8)), url("../../img/mountDoom.jpg");
  background-size: cover;
  transform: skewY(7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(-7deg); }

.section-offers {
  background-color: #f7f7f7;
  padding: 15rem 0; }

a {
  text-decoration: none; }

#hidden-nav,
#hidlabel {
  display: none; }

/*-------- Top nav --------*/
.topnav {
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  font-size: 1.6rem; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  list-style-type: none; }

.menu a {
  color: white;
  transition: color 0.6s ease; }

.menu > li {
  width: 15vw;
  margin: 1rem 0;
  text-align: center;
  font-weight: 400;
  line-height: 3rem;
  border-right: 1px solid white; }

.menu > li:hover a {
  color: goldenrod; }

.menu > li:last-child {
  border-right: none; }

.menu p {
  color: goldenrod;
  position: absolute;
  left: 1vw; }

/*------- Reviews -------*/
.reviews {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 20px;
  background-color: white;
  width: 100%;
  z-index: 1; }

.reviews h2 {
  color: black;
  font-size: 1.8em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px; }

.review-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  border: 2px solid darkgoldenrod;
  border-radius: 5px 15px;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  transition: box-shadow 0.6s ease, border-radius 0.5s ease; }

.review-box:hover {
  box-shadow: 0 0 5px 1px gray;
  border-radius: 15px 5px; }

.quotes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.review-img {
  border: 5px solid goldenrod;
  border-radius: 50%;
  flex-basis: 0; }

.quotes p strong {
  display: block;
  padding-bottom: 10px; }

/*------- Video --------*/
.video {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 400px;
  z-index: 1; }

/*------- Footer -------*/
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: auto;
  padding: 30px;
  z-index: 1; }

.form,
.invite {
  flex-basis: 1; }

#email-label {
  display: block;
  margin-bottom: 5px; }

#email {
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px 30px;
  background-color: white;
  border-radius: 8px; }

#email:focus {
  background-color: black;
  color: white; }

#submit {
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #f3dfae; }

#submit:hover {
  background-color: black;
  border-color: white;
  color: white; }

#email:invalid {
  background-color: #d92a20; }

.invite {
  padding-top: 15px; }

/* Responsive Web Design */
@media screen and (max-width: 600px) {
  #hidlabel {
    display: block;
    color: white;
    text-align: center;
    line-height: 40px; }
  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    transform: translate(-100%, 0);
    transition: transform 1s ease;
    background-color: black; }
  .menu > li {
    width: 100%;
    border-bottom: 1px solid grey;
    border-right: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .topnav input:checked ~ ul {
    display: flex;
    transform: none;
    width: 100%; }
  .menu p {
    position: absolute;
    left: 1vw;
    top: -30px; }
  .head {
    justify-content: center; }
  #head-card {
    align-self: flex-end;
    margin-bottom: 150px; }
  #head-card h2 {
    font-size: 120%; }
  .feature-card {
    height: 240px;
    padding-bottom: 0;
    padding-top: 15px; }
  iframe {
    width: 80vw;
    height: 320px; }
  .price-box {
    flex-basis: 180px; } }

@media screen and (max-width: 480px) {
  .head {
    height: 550px; }
  #head-card {
    align-self: flex-end;
    margin-bottom: 200px; }
  .feature-card {
    height: 200px;
    flex-basis: 150px;
    font-size: 85%; }
  .price-box {
    flex-basis: 160px;
    font-size: 85%; } }

@media screen and (min-width: 960px) {
  .home-sub {
    background-position: 0 60%;
    background-size: contain; } }
