@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/bg-video';
@import 'components/button';
@import 'components/card';
@import 'components/composition';
@import 'components/feature-box';
@import 'components/form';
@import 'components/story';

@import 'layout/footer';
@import 'layout/grid';
@import 'layout/header';

@import 'pages/home';


#hidden-nav,
#hidlabel {
  display: none;
}

/*-------- Top nav --------*/
.topnav {
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  list-style-type: none;
}

.menu a {
  color: white;
  transition: color 0.6s ease;
}

.menu > li {
  width: 15vw;
  margin: 1rem 0;
  text-align: center;
  font-weight: 400;
  line-height: 3rem;
  border-right: 1px solid white;
}

.menu > li:hover a {
  color: goldenrod;
}

.menu > li:last-child {
  border-right: none;
}

.menu p {
  color: goldenrod;
  position: absolute;
  left: 1vw;
}
