@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/bg-video';
@import 'components/button';
@import 'components/card';
@import 'components/composition';
@import 'components/feature-box';
@import 'components/story';

@import 'layout/grid';
@import 'layout/header';

@import 'pages/home';


a {
  text-decoration: none;
}

#hidden-nav,
#hidlabel {
  display: none;
}

/*-------- Top nav --------*/
.topnav {
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  list-style-type: none;
}

.menu a {
  color: white;
  transition: color 0.6s ease;
}

.menu > li {
  width: 15vw;
  margin: 1rem 0;
  text-align: center;
  font-weight: 400;
  line-height: 3rem;
  border-right: 1px solid white;
}

.menu > li:hover a {
  color: goldenrod;
}

.menu > li:last-child {
  border-right: none;
}

.menu p {
  color: goldenrod;
  position: absolute;
  left: 1vw;
}


/*------- Footer -------*/
.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: auto;
  padding: 30px;
  z-index: 1;
}

.form,
.invite {
  flex-basis: 1;
}

#email-label {
  display: block;
  margin-bottom: 5px;
}

#email {
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px 30px;
  background-color: white;
  border-radius: 8px;
}

#email:focus {
  background-color: black;
  color: white;
}

#submit {
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #f3dfae;
}

#submit:hover {
  background-color: black;
  border-color: white;
  color: white;
}

#email:invalid {
  background-color: #d92a20;
}

.invite {
  padding-top: 15px;
}

/* Responsive Web Design */
@media screen and (max-width: 600px) {
  #hidlabel {
    display: block;
    color: white;
    text-align: center;
    line-height: 40px;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    transform: translate(-100%, 0);
    transition: transform 1s ease;
    background-color: black;
  }

  .menu > li {
    width: 100%;
    border-bottom: 1px solid grey;
    border-right: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .topnav input:checked ~ ul {
    display: flex;
    transform: none;
    width: 100%;
  }

  .menu p {
    position: absolute;
    left: 1vw;
    top: -30px;
  }

  .head {
    justify-content: center;
  }

  #head-card {
    align-self: flex-end;
    margin-bottom: 150px;
  }

  #head-card h2 {
    font-size: 120%;
  }

  .feature-card {
    height: 240px;
    padding-bottom: 0;
    padding-top: 15px;
  }

  iframe {
    width: 80vw;
    height: 320px;
  }

  .price-box {
    flex-basis: 180px;
  }
}

@media screen and (max-width: 480px) {
  .head {
    height: 550px;
  }
  #head-card {
    align-self: flex-end;
    margin-bottom: 200px;
  }

  .feature-card {
    height: 200px;
    flex-basis: 150px;
    font-size: 85%;
  }

  .price-box {
    flex-basis: 160px;
    font-size: 85%;
  }
}

@media screen and (min-width: 960px) {
  .home-sub {
    background-position: 0 60%;
    background-size: contain;
  }
}
