.header {
  height: 95vh;
  background-image: url('../img/the_one_ring_lotr_small.jpg'),
    linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: right top;

  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: url('../img/the_one_ring_lotr.jpg'),
    linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 26%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;

    @include respond(tab-land) {
      left: 20%;
    }

    @include respond(tab-port) {
      top: 50%;
      left: 50%;
    }

    @include respond(phone) {
      top: 65%;
      left: 50%;
    }
  }
}