.card {
  height: 50rem;
  position: relative;
  overflow: hidden;

  &__side {
    height: 50rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all 0.6s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: translateY(200%) skewY(12deg);
      height: 36rem;

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--back {
    transform: translateY(49%) skewY(12deg);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/Samwise.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/frodo.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/baggins.jpg);
    }
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem 0;
  }

  &__details {
    font-size: 1.75rem;
    text-align: center;
    padding: 2rem 1rem;
  }

  // Back Side Styling
  &__cta {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-12deg);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 3rem;
    color: $color-white;
    font-family: Helvetica, sans-serif;
  }

  &__price-only {
    font-size: 1.4rem;
  }

  &__price-value {
    font-size: 5rem;
    font-weight: 600;
    & sub {
      font-size: 2rem;
    }
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      box-shadow: none;
      position: relative;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // back style
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
      & sub {
        font-size: 1rem;
      }
    }
  }
}
