.composition {
  position: relative;

  &__photo {
    display: block;
    width: 80%;
    object-position: center;
    margin: 0 auto;
    outline-offset: 2rem;
    transition: all .3s;

    @include respond(tab-port) {
      width: 66%;
    }

    &:hover {
      transform: scale(1.1) translateY(-.5rem);
      outline: 1.5rem solid $color-primary;    
      z-index: 20;
    }
  }

  // &:hover &__photo:not(:hover) {
  //   transform: scale(0.95);
  // }
}
