.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, .8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 3000;

  &__content {
    background-color: $color-white;
    width: 50%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: $border-radius-small;
    @include centerHV;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.1);
    transition: all .4s .1s;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    hyphens: auto;
  }

  // OPEN  states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      line-height: 1;
      position: absolute;
      top: 2rem;
      right: 3rem;
      font-size: 7rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
    }

    &:hover {
      color: $color-primary;
    }
  }

  @include respond(tab-port) {
    
    &__content {
      width: 75%;
      display: block;
    }
  
    &__left {
      display: block;
      width: 50%;
      margin: 1rem auto;
    }
  
    &__right {
      width: 100%;
      display: block;
      padding: 2rem 5rem 3rem;
      text-align: center;
    }
  
    &__img {
      border-radius: $border-radius-small;
    }
  
    &__text {
      margin-bottom: 3rem;
    }
  
    // OPEN  states
    &__close {
      &:link,
      &:visited {
        font-size: 5rem;
      }
    }
  }
}