body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 1.5rem;

  &--main {
    color: $color-primary;
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      letter-spacing: 1px;
      font-size: 4rem;
    }
  }
  
  &--sub {
    color: $color-grey-light-1;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: translateY(2px);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  display: inline-block;
  font-size: $default-font-size;
  font-weight: 700;

  &--sub {
    color: $color-grey-light-1;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    animation: moveInRight 1s ease-out;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
